<p class="mt-2 xl:mt-10 mb-2 p-2 xl:text-xl text-sm">Next week</p>

  <div class=" md:mx-2" *ngFor="let day of weekDays; let index=index">

    <div  class="overflow-x-auto mb-2 bg-[var(--ion-color-secondary)] flex flex-row items-center rounded">
      <div class="flex flex-col text-xs mx-2 md:text-sm xl:text-2xl text-white"> 
        <ion-label class="font-bold uppercase w-8 sm:w-10 xl:w-20">{{getDayName(index + 1)}}</ion-label>
        <ion-label class="">{{getDayAndMonth(index + 1)}}</ion-label>
      </div>

      <div class="flex flex-row justify-around items-center text-sky-700 pt-2 sm:min-w-full">
        <app-wave-icon [breakerType]="data[index].breakerType" class="w-8 md:w-12 xl:w-16 mb-2 mx-2"></app-wave-icon>
        <div *ngFor="let detail of data[index].details | keyvalue" class="text-xs mx-2 md:text-sm xl:text-xl ">
          <p class="font-bold text-white">{{detail.value}}</p>
          <ion-label>{{detail.key}}</ion-label>
        </div>
      </div>

    </div>
  </div>
  
  <p class="mb-28"></p>
